@mixin w {
  position: relative;
  margin: auto;
  width: 1190px;
}
@mixin box-flex{
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

// btn样式
@mixin btn{
  display: inline-block;
    padding: 12px 25px;
    font-size: .85em;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 50px;
}
@mixin btn-default {
  background-image: linear-gradient(to right, #f5f5f5, #f1f1f1);
}
@mixin btn-primary {
  color: #fff;
  background-image: linear-gradient(to right, #f9d88f, #dcaf62);
}
@mixin btn-primary-hover{
  background-image: linear-gradient(to right, #dcaf62, #f9d88f);
}
